*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

.container{
    display: flex;
}

.mid{
    display: flex;
}

.write{
   padding: 40px;
}

.write .title{
    font-size: 250%;
    color: #141C67;
}

.write p {
    margin-top: 15px;
    font-size: 120%;
}

.buttons{
    display: flex;
    padding: 40px;
    gap: 50px;
}

.free-test-button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.free-test-button:hover{
    background-color: #0053ac;
}

.know-button{
    background-color: #ffffff;
    color: #007bff;
    border: solid #007bff 2px;
    border-radius: 5px;
    padding: 15px 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

figure{
    align-items: center;
    display: flex;
    width: 900px;
}

.contato{
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #0066CC;
padding: 10px 44px;
border: none;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.contato:hover{
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;
}

.botao{
    position: relative;
    top: 30rem;
    right: 15rem;
}

@media only screen and (max-width: 830px) {
    .mid{
        display: flex;
        flex-direction: column;
    }

    .botao{
        position: relative;
        top: 60rem;
    }
  }

  @media only screen and (max-width: 900px) {
    .botao{
       position: relative;
       top: 50rem;
    }
  }

  @media only screen and (max-width: 765px) {
    .botao{
       position: relative;
       top: 80rem;
    }
  }