.rodape {
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
    width: 100%;
    height: auto; 
    background-color: #226ee0; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    box-sizing: border-box; 
}
  
.rodape p {
    margin: 0;
  }